<h1 class="center">Basic JavaScript</h1>
<h5 class="center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis aperiam, enim totam est
    repudiandae nisi? Eum dicta non vero. Ipsa enim quisquam excepturi incidunt natus quasi obcaecati illum modi atque?
</h5>


<div class="row buttons" style="margin-left: 48%;">
    <button id="action-btn" class="btn waves-effect waves-light green" value="Mod2SM1">start</button>


</div>
<div class="row test-questions" style="margin:20px 50px 20px 50px;">
        {{#each Questions}}
    <div class="col " style="margin: 15px;">
        <h4>{{text}}</h4>  <form action="#">
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio" />
        <span>{{option1}}</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio" />
        <span>{{option2}}</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio"  />
        <span>{{option3}}</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio" />
        <span>{{option4}}</span>
      </label>
    </p>
    
  </form>
        
        <br><br>
    </div>
        {{/each}}





</div>