<h1 class="center">{{testTitle}}</h1>
<h5 class="center">
  You will have {{timeLimit}} minutes to complete the assessment. The {{testTitle}} assessment is {{questionAmount}} questions multiple choice.
</h5>
<div id="timer" class="center">00:00</div>


<div class="row buttons" style="margin-left: 48%;">
  <div id="start-test"> 
    <button id="action-btn" class="btn waves-effect waves-light green" onclick="startTest({{timeLimit}})" value="Mod2SM1">start</button>
</div>
</div>
<div class="row test-questions" style="margin:20px 50px 20px 50px;">
        {{#each Questions}}
    <div class="col " style="margin: 15px;">
        <h4>{{text}}</h4>  <form action="#">
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio" />
        <span>{{option1}}</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio" />
        <span>{{option2}}</span>
      </label>
    </p>
    
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio"  />
        <span>{{option3}}</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" class="questionLabel" type="radio" />
        <span>{{option4}}</span>
      </label>
    </p>
    
  </form>
        
        <br><br>
    </div>
        {{/each}}





</div>